
	   /* Media Queries */
	@media(max-width: 768px){
		 header #branding,
		
		header nav,
		header nav li,
		
		#showcase h1,
		#newsletter form,
		
		#boxes .box,
		article#main-col,
		aside#sidebar{
			float:none;
			text-align:center;
		     width:100%; 
		     
		}



      @media(max-width: 768px){
          header h1 {
            padding-bottom: 30px;
          } 

    @media(max-width: 768px){
      header nav {
      	padding:10px;
      	display: inline-block;
      
      }
	
     
  
		@media(max-width: 768px){
		#showcase h1{
			
			margin-top: 0px;
			font-size: 25px

		}
	      
	      @media(max-width: 768px){
		#showcase p{
			margin-top: 40px;
			font-size: 16px;
			margin-left: 15px;

		}

		@media(max-width: 768px){
         #newsletter h1{
         	font-size: 20px;
         }

          @media(max-width: 768px){
         #newsletter p {
         	margin-top: -20px;
         	
         	font-size: 14px;
         }

         @media(max-width: 768px){
	    #newsletter button{
			display:block;
			width: 100%;
			margin-bottom: 5px;
			float: center;

		}
	
	    @media(max-width: 768px){
	    #newsletter form input[type="email"]{
		    width:100%;
			margin-bottom:2px;
		    float: center;
		 
		}
		
		@media(max-width: 768px){
		aside#sidebar .quote button{
			width:96%;
		}
         
        @media(max-width: 768px){
	header a:hover{
		font-weight:bold;
		background:grey;
		display: inline-block;	
	}
